.navbar {
  padding: 0px;
  
  div.navbar-brand {
    padding: 15px;
    background: darken(#343a40, 10%);
  }
  
  .navbar-text {
    color: #fff;
    font-size: 14pt;
  }
  
  .icon-menu {
    top: -15px;
    height: 60px;
    margin-right: -15px;
    margin-bottom: -30px;
    padding: 0px;
    
    li {
      padding: 15px 15px 17px 15px;
    }
    
    li.active {
      background: lighten(#343a40, 5%);
    }
  }
  
  li {
    margin-left: 20px;
  }
}

.container {
  max-width: 100%;
}

div#menu {
  position: fixed;
  height: 100%;
  background: darken(#343a40, 10%);
  color: #fff;
  padding: 0px;
  
  .list-group-item {
    background: transparent;
    border: 0px;
  }
  
  .list-group-item:hover {
    background: darken(#343a40, 11%);
  }
  
  .list-group .active {
    background: darken(#343a40, 15%);
  }
}


.units {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 80px;
  
  &:hover {
    background: darken(#343a40, 15%);
  }
  
  img {
    height: 60px;
    margin: 10px 5px 10px 5px;
  }
  
  img.sm {
    height: 55px;
    margin: 7px 5px 7px 5px;
  }
}

.units:hover {
  background: darken(#343a40, 15%);
}

.tab-content {
  
  .classification-banner {
    p { margin: 0px; padding: 5px; }
  }
  
  span {
    margin-right: 15px;
    line-height: 35px;
  }
  .app-list {
    
    .app {
      padding: 15px;
      
      .card a.normal:hover {
        color: #fff;
      }
      
      .card .dropdown-item {
        color: #000;
        cursor: pointer;
          
        &:hover {
          background: #e3e3e3;
        }
      }
    }
    
    h4 {
      margin-bottom: 30px;
    }
    
    .appliance {
      text-align: left;
      list-style-type: none;
      
      .row {
        margin: 0px;
        width: 100%;
      }
      
      .path {
        margin-bottom: 15px;
        clear: left;
      }
      
      i {
        margin: 7px 0px 0px 7px;
        padding-right: 5px;
        height: 15px;
      }
      
      .indicator {
        float: right;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-top: 5px;
      }
    }
  }
}