.navbar {
  padding: 0px;
}
.navbar div.navbar-brand {
  padding: 15px;
  background: #1d2124;
}
.navbar div.navbar-brand #activeSection{
  position: relative;
  left: 10px;
}
.navbar .navbar-text {
  color: #fff;
  font-size: 14pt;
}
.navbar .icon-menu {
  top: -15px;
  height: 60px;
  margin-right: -15px;
  margin-bottom: -30px;
  padding: 0px;
}
.navbar .icon-menu li {
  margin: 0px;
  padding: 15px 15px 17px 15px;
  cursor: pointer;
}
.navbar .icon-menu li:hover {
  padding: 15px 15px 17px 15px;
  cursor: pointer;
  background: #3e3e3e;
}
.navbar .icon-menu li.active {
  background: #3f474e;
}
.navbar li {
  margin-left: 20px;
}
.navbar .timezones {
  margin-top: 4px;
  font-size: 13pt;
}
#navbarCollapse {
  position: static;
  margin-top: 60px;
  margin-bottom: -60px;
  left: 0px;
  width: 100%;
  background: #1d2124;
  z-index: 2;
}
#navbarCollapse li {
  padding: 5px 15px 5px 15px;
  font-size: 14pt;
  cursor: pointer;
}
#navbarCollapse li:hover {
  background: #3f474e;
}
#navbarCollapse li a {
  color: #fff;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
div#menu {
  position: fixed;
  height: 100%;
  background: #1d2124;
  color: #fff;
  padding: 0px;
}
div#menu .list-group-item {
  background: transparent;
  border: 0px;
}
div#menu .list-group-item:hover {
  background: #1b1e21;
}
div#menu .list-group .active {
  background: #121416;
}
.units {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 80px;
}
.units:hover {
  background: #121416;
}
.units img {
  height: 60px;
  margin: 10px 5px 10px 5px;
}
.units img.sm {
  height: 55px;
  margin: 7px 5px 7px 5px;
}
.units:hover {
  background: #121416;
}
.tab-content .classification-banner p {
  margin: 0px;
  padding: 5px;
}
.tab-content span {
  margin-right: 15px;
  line-height: 35px;
}
.tab-content .app-list .app {
  padding: 15px;
}
.tab-content .app-list .app .card a.normal:hover {
  color: #fff;
}
.tab-content .app-list .app .card .dropdown-item {
  color: #000;
  cursor: pointer;
}
.tab-content .app-list .app .card .dropdown-item:hover {
  background: #e3e3e3;
}
.tab-content .app-list h4 {
  margin-bottom: 30px;
}
.tab-content .app-list .appliance {
  text-align: left;
  list-style-type: none;
}
.tab-content .app-list .appliance h5 {
  padding-right: 5px;
}
.tab-content .app-list .appliance .row {
  margin: 0px;
  width: 100%;
}
.tab-content .app-list .appliance .path {
  margin-bottom: 15px;
  clear: left;
}
.tab-content .app-list .appliance i {
  margin: 7px 0px 0px 7px;
  padding-right: 5px;
  height: 15px;
}
.tab-content .app-list .appliance .indicator {
  float: right;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: 5px;
}
.system-help .lead {
  max-width: 90%;
  margin: 0px auto;
  padding: 15px 0px 30px 0px;
  text-align: center;
}
.system-help hr {
  max-width: 50%;
}
.system-help .list-group {
  margin-bottom: 30px;
}
.system-help .accordion .card {
  height: 100%;
}
.system-help .accordion .card-header {
  cursor: pointer;
}
.system-help .collapse-card {
  padding: 10px;
}
.badge-pill {
  padding: 5px 8px 5px 8px;
  font-size: 10pt;
}
@media screen and (max-width: 1030px) {
  .navbar .timezones {
    margin-top: 4px;
    font-size: 12pt;
  }
}
