<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Voodoo Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css'>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="navbar-brand fixed-top col-lg-2 col-md-12 mb-0 h1 text-white border-bottom border-dark">
          <span class="float-left" style="padding-right: 5px;" data-toggle="tooltip" data-placement="right" data-html="true" title="<b>Breathing fire!</b>">Voodoo vCP</span>
          <span class="float-left d-none d-md-block d-lg-none d-inline" id="activeSection">
            <small class="text-muted">{{activeSection}}</small>
          </span>
          <ul class="icon-menu float-right d-none d-md-block d-lg-none d-inline" id="list-tab">
            <li class="d-inline" v-on:click="mobileMenu('#list-launcher-list','Launch systems')">Launcher</li>
            <li class="d-inline" v-on:click="mobileMenu('#list-cop-list','Common Operational Picture')">COP</li>
            <li class="d-inline" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-ellipsis-v"></i></li>
          </ul>
        </div>
        <div class="col-lg-10 col-md-9 offset-lg-2 offset-sm-3 navbar-text d-none d-lg-block">
          <div class="float-left" style="position: relative; top: 10px;">{{activeSection}}</div>
          <ul class="float-right timezones" style="margin: 9px 0px 9px 0px;">
            <li class="d-inline" v-for="zone in timeZones">{{zone.name}}: {{zone.time}} ({{zone.UTC_TEXT}})</li>
          </ul>
        </div>
      </nav>

      <div class="collapse" id="navbarCollapse">
        <ul class="navbar-nav text-center" style="position: relative;">
          <li class="nav-item">
            <a class="nav-link" id="mobile-nav-portal" v-on:click="mobileMenu('#list-portal-list','Find Resources', true)">Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mobile-nav-systems" v-on:click="mobileMenu('#list-systems-list','vPC Health', true)">Sytems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mobile-nav-settings" v-on:click="mobileMenu('#list-settings-list','Manage vCP', true)">Settings</a>
          </li>
        </ul>
        <div class="row bg-dark">
          <div class="col-6 col-sm-6 col-md-4 text-center text-white" style="margin: 10px 0px 10px 0px; font-size: 11pt;" v-for="zone in timeZones">
            {{zone.name}}: {{zone.time}} ({{zone.UTC_TEXT}})
          </div>
        </div>
      </div>

      <div class="container">
         <div class="row">
           <div class="col-lg-2 d-none d-lg-block" id="menu">
             <div class="list-group" id="list-tab" role="tablist">
               <a class="list-group-item list-group-item-action active" id="list-launcher-list" data-toggle="list" href="#list-launcher" role="tab" aria-controls="launcher" v-on:click="updateActiveSection('Launch systems')">Launcher</a>
               <a class="list-group-item list-group-item-action" id="list-cop-list" data-toggle="list" href="#list-cop" role="tab" aria-controls="COP" v-on:click="updateActiveSection('Common Operational Picture')">COP</a>
               <a class="list-group-item list-group-item-action" id="list-portal-list" data-toggle="list" href="#list-portal" role="tab" aria-controls="portal" v-on:click="updateActiveSection('Find Resources')">Portal</a>
               <a class="list-group-item list-group-item-action" id="list-systems-list" data-toggle="list" href="#list-systems" role="tab" aria-controls="systems" v-on:click="updateActiveSection('vPC Health')">Systems</a>
               <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" v-on:click="updateActiveSection('Manage vCP')">Settings</a>
             </div>
             <div class="col-lg-2 col-md-2 col-sm-2 units text-center bg-primary">
              <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/b/bf/51st_Fighter_Wing.png" />
              <img class="img-fluid sm" src="http://www.milart.com/mm5/graphics/00000001/25th%20Fighter%20Sq%20web.png" data-toggle="tooltip" data-placement="top" data-html="true" title="<b><i>Pilsung!</i></b>" />
             </div>
           </div>
           <div class="col-12 col-lg-10 offset-lg-2">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-launcher" role="tabpanel" aria-labelledby="list-launhcer-list">
                <div class="row sticky-top" style="padding: 0px;">
                  <div class="col-12 d-lg-none d-xl-none" style="position: relative; height: 60px;"></div>
                  <div class="col-12 classification-banner bg-success text-white text-center"><p>UNCLASSIFIED</p></div>
                </div>
                <div class="row" style="padding: 15px; padding-left: 2px;">
                  <div class="col-12 col-sm-8">
                    <h4 class="font-weight-bold">Operational applications</h4>
                    <span class="font-italic font-weight-light">Locales updated: {{envUpdated}}</span>
                  </div>
                  <div class="col-12 col-sm-4 text-right" style="padding-right: 0px;">
                    <a class="btn btn-dark float-right" href="vcp-updater://">Update environment</a>
                  </div>
                </div>
                <div class="row app-list" style="clear: both;">
                  <div v-for="app in applications" :class="app.class">
                    <div class="card" style="height: 100%;">
                      <div class="card-body">
                        <p class="card-text font-weight-light text-center">
                          <div class="float-left" style="max-width: 65%;">
                            <h5>{{app.name}}</h5>
                            {{app.desc}}
                          </div>
                          <div class="float-right">
                            <div v-if="app.resources">
                              <div class="btn-group">
                                <a class="btn btn-outline-primary text-primary normal">Launch</a>
                                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <button class="dropdown-item" data-toggle="modal" :data-target="app.modal">Resources</button>
                                </div>
                              </div>
                            </div>
                            <div v-else>
                              <a class="btn btn-outline-primary text-primary normal" :href="app.protocol">Launch</a>
                            </div>
                          </div>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding: 15px;">
                  <div class="col-12" style="padding-left: 0px;">
                    <h4 class="font-weight-bold">Support applications</h4>
                  </div>
                </div>
                <div class="row app-list">
                  <div v-for="app in supportApplications" :class="app.class">
                    <div class="card" style="height: 100%;">
                      <div class="card-body">
                        <p class="card-text font-weight-light text-center">
                        <div class="float-left" style="max-width: 65%;">
                          <h5>{{app.name}}</h5>
                          {{app.desc}}
                        </div>
                        <div class="float-right">
                          <a class="btn btn-outline-secondary" :href="app.protocol">Launch</a>
                        </div>
                        </p>
                    </div>
                  </div>
              </div>
             </div>
              </div>
              <div class="tab-pane fade" id="list-portal" role="tabpanel" aria-labelledby="list-portal-list">
                <div class="row sticky-top" style="padding: 0px;">
                  <div class="col-12 d-lg-none d-xl-none" style="position: relative; height: 60px;"></div>
                  <div class="col-12 classification-banner bg-danger text-white text-center"><p>EX EX EX CORGI//REL FLUFF, BUTT</p></div>
                </div>
              </div>
              <div class="tab-pane fade" id="list-cop" role="tabpanel" aria-labelledby="list-cop-list">
                <div class="row sticky-top" style="padding: 0px;">
                  <div class="col-12 d-lg-none d-xl-none" style="position: relative; height: 60px;"></div>
                  <div class="col-12 classification-banner bg-danger text-white text-center"><p>EX EX EX MIA//MOTO</div>
                </div>
              </div>
              <div class="tab-pane fade" id="list-systems" role="tabpanel" aria-labelledby="list-systems-list">
                <div class="row sticky-top" style="padding: 0px;">
                  <div class="col-12 d-lg-none d-xl-none" style="position: relative; height: 60px;"></div>
                  <div class="col-12 classification-banner bg-success text-white text-center"><p>UNCLASSIFIED</p></div>
                </div>
                <div class="row" style="padding: 15px; padding-left: 2px;">
                  <div class="col-12 col-sm-8">
                    <h4 class="font-weight-bold">Operational systems</h4>
                    <span class="font-italic font-weight-light">Last checked: {{envUpdated}}</span>
                  </div>
                  <div class="col-12 col-sm-4 text-right" style="padding-right: 0px;">
                    <a class="btn btn-dark float-right" href="vcp-updater://">Force update</a>
                  </div>
                </div>
                <div class="row app-list" style="clear: both; padding-top: 15px;">
                  <div class="col-12 col-lg-4" style="margin-bottom: 15px;">
                    <div class="card" style="height: 100%;">
                      <div class="card-body">
                        <h4 class="card-title font-weight-bold">Network drives</h4>
                        <div class="card-text font-weight-light text-center">
                          <ul style="margin: 0px; padding: 0px; width: 100%;">
                            <li class="appliance" v-for="app in networkAppliances">
                              <div class="row" v-if="app.type == 'drive'">
                                <div class="col-10">
                                  <h5 class="float-left" data-toggle="tooltip" data-placement="right" data-html="true" :title="app.tooltip">{{app.name}}</h5>
                                  <i v-if="app.name == 'SF BaseDefense'" class="float-left far fa-question-circle" data-toggle="tooltip" data-placement="right" data-html="true" title="<b>Note:</b> Additional permissions needed"></i>
                                  <div class="path">{{app.path}}</div>
                                </div>
                                <div class="col-2">
                                  <div :class="app.class" />
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4" style="margin-bottom: 15px;">
                    <div class="card" style="height: 100%;">
                      <div class="card-body">
                        <h4 class="card-title font-weight-bold">Network printers</h4>
                        <div class="card-text font-weight-light text-center">
                          <ul style="margin: 0px; padding: 0px; width: 100%;">
                            <li class="appliance" v-for="app in networkAppliances">
                              <div class="row" v-if="app.type == 'printer'">
                                <div class="col-10">
                                  <h5 class="float-left" data-toggle="tooltip" data-placement="right" data-html="true" :title="app.tooltip">{{app.name}}</h5>
                                  <div class="path">{{app.path}}</div>
                                </div>
                                <div class="col-2">
                                  <div :class="app.class" />
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4" style="margin-bottom: 15px;">
                    <div class="card" style="height: 100%;">
                      <div class="card-body">
                        <h4 class="card-title font-weight-bold">Services</h4>
                        <div class="card-text font-weight-light text-center">
                          <ul style="margin: 0px; padding: 0px; width: 100%;">
                            <li class="appliance" v-for="app in networkAppliances">
                              <div class="row" v-if="app.type == 'service'">
                                <div class="col-10">
                                  <h5 class="float-left" data-toggle="tooltip" data-placement="right" data-html="true" :title="app.tooltip">{{app.name}}</h5>
                                  <i v-if="app.name == 'SF BaseDefense'" class="float-left far fa-question-circle" data-toggle="tooltip" data-placement="right" data-html="true" title="<b>Note:</b> Additional permissions needed"></i>
                                  <div class="path">{{app.path}}</div>
                                </div>
                                <div class="col-2">
                                  <div :class="app.class" />
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row system-help">
                  <div class="col-12">
                    <div class="card" style="margin-bottom: 15px;">
                      <div class="card-body">
                        <h4 class="card-title font-weight-bold">Need help?</h4>
                        <div class="card-text">
                          <div class="row">
                            <p class="lead">
                              Voodoo Intel attempts to automate as much war-fighting capability as possible,
                              but nothing is perfect. A collection of systems resources located below will
                              help fence in your systems.
                              <hr />
                            </p>
                          </div>
                          <div class="row">
                            <div class="col-12 col-lg-4">
                              <div class="list-group">
                                <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center" id="list-system1-list" data-toggle="list" href="#list-system1" role="tab" aria-controls="system1">
                                  PIPR
                                  <div class="badge badge-pill badge-primary">8</div>
                                </a>
                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-system2-list" data-toggle="list" href="#list-system2" role="tab" aria-controls="system2">
                                  DIPR-K
                                  <div class="badge badge-primary badge-pill">2</div>
                                </a>
                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-system3-list" data-toggle="list" href="#list-system3" role="tab" aria-controls="system3">
                                  JKDIPS
                                  <div class="badge badge-primary badge-pill">1</div>
                                </a>
                              </div>
                            </div>
                            <div class="col-12 col-lg-8">
                              <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-system1" role="tabpanel" aria-labelledby="list-system1-list">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="accordion" id="piprAccordion">
                                        <div class="card">
                                          <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h5 class="mb-0 float-left">Standard Operating Procedures (SOPs)</h5>
                                            <div class="badge badge-primary badge-pill float-right">4</div>
                                          </div>
                                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#piprAccordion">
                                            <div class="card-body">
                                              <div class="row">
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-4 collapse-card">
                                                  <div class="card" style="border-bottom: 1px solid rgba(0,0,0,.125)">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Marauder</h5>
                                                      <p class="card-text">Marauder lorem ipsum dollar asset</p>
                                                      <a href="#" class="btn btn-primary float-right">Open</a>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-4 collapse-card">
                                                  <div class="card" style="border-bottom: 1px solid rgba(0,0,0,.125)">
                                                    <div class="card-body">
                                                      <h5 class="card-title">MAT</h5>
                                                      <p class="card-text">MAT lorem ipsum dollar asset</p>
                                                      <a href="#" class="btn btn-primary float-right">Open</a>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-4 collapse-card">
                                                  <div class="card" style="border-bottom: 1px solid rgba(0,0,0,.125)">
                                                    <div class="card-body">
                                                      <h5 class="card-title">mIRC</h5>
                                                      <p class="card-text">mIRC lorem ipsum dollar asset</p>
                                                      <a href="#" class="btn btn-primary float-right">Open</a>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-4 collapse-card">
                                                  <div class="card" style="border-bottom: 1px solid rgba(0,0,0,.125)">
                                                    <div class="card-body">
                                                      <h5 class="card-title">CIC Information Management</h5>
                                                      <p class="card-text">Lorem ipsum dollar asset</p>
                                                      <a href="#" class="btn btn-primary float-right">Open</a>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <h5 class="mb-0 float-left">Checklists</h5>
                                            <div class="badge badge-primary badge-pill float-right">2</div>
                                          </div>
                                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#piprAccordion">
                                            <div class="card-body">
                                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            <h5 class="mb-0 float-left">Training Material</h5>
                                            <div class="badge badge-primary badge-pill float-right">2</div>
                                          </div>
                                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#piprAccordion">
                                            <div class="card-body">
                                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="list-system2" role="tabpanel" aria-labelledby="list-system2-list">
                                  <div class="row">
                                    <div class="col-12">
                                      <h5 class="font-weight-bold">DIPR-K</h5>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="list-system3" role="tabpanel" aria-labelledby="list-system3-list">
                                  <div class="row">
                                    <div class="col-12">
                                      <h5 class="font-weight-bold">JKDIPS</h5>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">.df..</div>
            </div>
           </div>
        </div>
      </div>

      <!-- Launcher resource modals -->

      <div class="modal fade launcher-res-mirc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">mIRC Resources</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>mIRC Content</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade launcher-res-jmps" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">JMPS Resources</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>JMPS Content</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade launcher-res-ge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Google Earth Resources</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Google Earth Content</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary close" data-dismiss="modal">Got it!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.3/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
  <script  src="js/index.js"></script>
</html>
